<!-- partial:index.partial.html -->
<style>
  body {
    background-image: url("https://telegra.ph/file/d021972f2f4a506a63e81.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
  }
</style>
<header>
  <div aria-busy="true" id="progress" hidden aria-label="Loading, please wait." role="progressbar"></div>
</header>
<main role="main">
  <img src="https://telegra.ph/file/bef973ca07381d5fbb9f4.jpg" width="100" alt="" />
  <h1>Website Downloader By Avosky</h1>
  <p>Unduh Semua Data Baik HTML/CSS/JS ><</p>
   <div class="container">
  <div class="row">
    <div class="col-lg-12" style="float: none; margin: 0 auto;">
      <div id="custom-search-input">
          <form method="get" class="form" action="/search">
        <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg" id="website" placeholder="put link here ><" />
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" id="download" type="button">
                        <i class="glyphicon glyphicon-download"></i>
                    </button>
                </span><br>
              </form>

        </div><br>
<!DOCTYPE html>
<html>
<head>
    <style>
        @keyframes moveText {
            0% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(10px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
        h1 {
            animation: moveText 2s linear infinite;
        }
    </style>
</head>
<body>
    <h1>Selamat datang di Pemutar Musik</h1>
    
    <audio controls>
        <source src="https://j.top4top.io/m_2845ni5ie1.mp3" type="audio/mpeg">
        Maaf, browser Anda tidak mendukung pemutar audio.
    </audio>
    
    <p>Nikmati musik dengan menekan tombol "Play" di atas.</p>
</body>
</html>
      </div>
      <br>
    </div>
  </div>
  <h5 hidden id='nFilesP'>Total Downloaded file: <span  id='nFiles' style="color: red;font-weight: bold">10</span></h5>
  <p  class="log" id='log'></p>
  <button style="display: none" class="btn btn-success">Download website assets</button>
</div> 


  
</main>
<!-- partial -->
  
